*{
    padding: 0;
    margin: 0;
}

.hidden.form-container {
    display: none;
}

/* 
-----------------------

    ANIMATIONS
    
------------------------
*/

@keyframes colorchange {
    0% {
        background-color: beige;
    }
    100% {
        background-color: rgb(102, 204, 207);
    }
  }
/* 
-----------------------

    BASE LAYOUT
    
------------------------
*/

.base-page-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 40px;
    height: 100vh;

    cursor: default;
}

.blur{
    filter: blur(2px);
}
.unclickable {
    pointer-events: none;
}


/* 
-----------------------

    HEADER
    
------------------------
*/

.header{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: red;
    border: solid black 1px;
}



/* 
-----------------------

    SIDEBAR
    
------------------------
*/

.sidebar{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: antiquewhite;
    border: solid black 1px;
}

.project-list {
    color: gray;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.project-list > li {
    cursor: pointer;
}
.project-list > li:hover {
    color: black;
    font-size: 1.1rem;
}



/* 
-----------------------

    MAIN
    
------------------------
*/

.main{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(117, 121, 121);
    border: solid black 1px;
}

.main-tasks-container {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.task-container {
    display: grid;
    grid-template-columns: 200px 70px 1fr 50px;
    cursor: pointer;
    transition: 0.8s;
}
.task-container:hover {
    background-color: rgb(102, 204, 207);
}
.title-task {
    grid-column: 1/2;
}
.priority-task {
    grid-column: 2/3;
}
.date-task {
    grid-column: 3/4;
}
.icon-task {
    grid-column: 4/5;
}

/* 
-----------------------

    FOOTER
    
------------------------
*/

.footer{
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: green;
    border: solid black 1px;
}






/* 
-----------------------

    FORM
    
------------------------
*/

.form-container {
position: fixed;
top: 20vh;
left: 20vw;

padding: 20px;
border: solid black 4px;
border-radius: 5px;

background-color: antiquewhite;
box-shadow: 4px 4px 5px 0px #493eaa;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

gap: 20px;
}
.form-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.task-form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 10px;
}

.tasks-viewer {
    display: flex;
    gap: 40px;
}

.task-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: solid gray 5px;
    width: 30vw;
}
.task-card-title {
    font-size: 1.6rem;
    font-weight: 600;
}
.task-card-description {
    font-style: italic;
    color: rgb(43, 43, 43);
}
.task-card-pre-footer {
    display: flex;
    justify-content: center;
    align-items: space-between;
    gap: 10px;
}







